.video{
    background-color: white;
    padding: 100px 0;
    .row{
        margin: 0;
        
        .video__content{
            text-align: center;
            margin:0 auto 100px ;
            h3{
                @include styleText($color-black-0,$fs-3);
                letter-spacing: 2px;
            }
            .p-top-30{
                padding-top:30px;
                width:65%;
                margin: 0 auto;
            }
            .half-txt{
                @include styleText($color-gray-0,$fs-0);
                line-height:25px;
            }
        }
        .video__youtube{
            text-align: center;
            iframe{
               width:525px;
               height:262px;           
           }
        }
      
    }
}

